body, html { margin: 0px; padding: 0px; background: #222; }

#worldWrapper {
	color: #FFF; 
	margin: 50px auto 0px auto;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	position: relative;
	background: #111;
	padding: 10px;
}

#worldWrapper #background, #worldWrapper #board, #worldWrapper #history {
	position: absolute;
	top: 40px;
	left: 10px;	
}

#worldWrapper #background {
	background: #444;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#worldWrapper #history {
	overflow: auto;
	z-index: 5;
	padding: 10px;
	font: 11px Tahoma;
	word-wrap: break-word;
	opacity: 0.1;
	filter:alpha(opacity=10);
}

#worldWrapper .history-hidden {
	z-index: 1 !important;
}

#worldWrapper .history-hidden div {
	color: #FFF !important;
}

#worldWrapper #board {
	z-index: 2;
}

#worldWrapper #board .name {
	position: absolute;
	font: 8px Tahoma;
	z-index: 5;
	width: 25px;
	text-align: center;
}

#worldWrapper #board .msg {
	position: absolute;
	font: 8px Tahoma;
	z-index: 1;
	opacity: 0.5;
	filter:alpha(opacity=50);
	background: #000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 3px;
	color: #FFF;
	max-width: 135px;
	word-wrap: break-word;
}

#worldWrapper #board .player {
	position: absolute;
	background: url('../images/player-sprite.png');
}

#worldWrapper #console {
	position: absolute;
	top: 10px;
	width: 640px;
	text-align: center;
}

#worldWrapper #say, #worldWrapper #join {
	width: 200px;
	margin: 10px auto;
}
